In [1]:
t = ()

In [2]:
t = (1,(3,4),[1,2,3,4])
print(t)

(1, (3, 4), [1, 2, 3, 4])

In [3]:
print(t[1])

print(t[-1])

(3, 4)
[1, 2, 3, 4]

In [4]:
t = ('abc',('efg','xyz'))

print(t[1])

print(t[1][1])

('efg', 'xyz')
xyz

In [5]:
t[1]='x' #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [8]:
x = [1,2,[4,5,6]]  #list within tuples are mutable

x[2][1] = 0   

print(x)

[1, 2, [4, 0, 6]]

In [11]:
t = (1,2,3) + (4,5,6)

print(t)

(1, 2, 3, 4, 5, 6)

In [14]:
t = (('satish',)*4)

print(t)

('satish', 'satish', 'satish', 'satish')

### Delete a tuple

In [16]:
#you cant delete an element from a tuple since tuples are immutable

t = (1,2,3,4)


del t;

### Count of an element

In [18]:
t = (1,2,3,4,5,6,7,8,1,2,3)

t.count(1)

2

### Tuple Index

In [27]:
t = (1,2,3,4,2)

t[1]

print(t.index(2))

1

### tuple membership

In [22]:
print(1 in t)

print(5 in t)

True
False

In [23]:
print(len(t))

4

In [28]:
new = sorted(t)
print(new)

[1, 2, 2, 3, 4]

In [29]:
print(max(t))

print(min(t))

print(sum(t))

4
1
12