In [1]:
s='''This is an online AI course'''

In [3]:
print(type(s));

<class 'str'>

In [4]:
s[5:]

'is an online AI course'

In [5]:
 #array

In [7]:
a=[10,20,"adawda"]
print(a[2])

adawda

In [8]:
a[1]=30.7;
print(a);

[10, 30.7, 'adawda']

 <h2>tuple</h2>

Cant modify a tuple

In [10]:
t=(1,2,3)

In [11]:
print(t)

(1, 2, 3)

In [12]:
print(t[1])

2

In [13]:
t[1]=0;

TypeError: 'tuple' object does not support item assignment

<h2>Set</h2>

In [14]:
a={10,20,30,40,50}

In [16]:
print(a)

{40, 10, 50, 20, 30}

In [17]:
print(type(a))

<class 'set'>

In [18]:
s={10,20,20,30,30,30}

In [19]:
print(s)

{10, 20, 30}

In [20]:
print(s[1])

TypeError: 'set' object does not support indexing

<h2>Dictionary </h2>

In [22]:
d={'a':"apple",'b':"ball"}
print(d['a'])

apple

Type Conversion

In [1]:
a=5;
float(a)

5.0

In [2]:
b=100.5
int(b)

100

In [3]:
c=20;
str(c)

'20'

In [9]:
user='karan'
lines = 100

print("congratulations" + user + "you wrote "+str(lines)+" jndewjd")

congratulationskaranyou wrote 100 jndewjd

<h3> Sequence Conversion </h3>

In [11]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [12]:
print(type(a))

<class 'list'>

In [13]:
s=set(a)

In [14]:
print(type(s))

<class 'set'>

In [15]:
print(s)

{1, 2, 3}

In [16]:
list("hello")

['h', 'e', 'l', 'l', 'o']